body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
    flex-direction: column;
    /* gap: 20px;       */
    font-family: Arial, sans-serif;
    color: #333;
}

.user-directory h1 {
    margin: 20px 0;
    font-size: 1.8rem;
    color: #2c3e50;
}

.user-list {
    list-style: none;
    padding: 0;
    width: 100%;
    max-width: 300px;
}

.user-list button {
    background: #fff;
    margin-bottom: 20px;
    padding: 12px 18px;
    border-radius: 8px;
    box-shadow: 0 6px 16px #0000000d;
    transition: transform .2s;
    color: #2c3e50;
    width: 180px;
    display: flex;
    align-items: center;
    gap: 12px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: white;
    border: none;
    color: black;
    border-radius: 5px;
    width: 70%;
}

button:hover {
    transform: translateY(-2px);
    box-shadow: 0 8px 16px #0000000d;
}

