body{
  inline-size: 100%;
  block-size: 100bv;
}
#root{
  inline-size: 100%;
  block-size: 100bv;
}
.head{
  inline-size: 100%;
  block-size: 200px;
  background-color: rgb(193, 80, 211);
}
.left{
  inline-size: 20%;
  block-size: 400px;
  background-color: rgb(227, 169, 36);
}
.flex{
  display: flex;
}
.right{
  inline-size: 80%;
  block-size: 400px;
  background-color: rgb(92, 228, 158);
}
.foot{
  inline-size: 100%;
  block-size: 200px;
  background-color: rgb(174, 228, 24);
}
