div {
  max-width: 550px;
  margin: 40px auto;
  border-radius: 10px;
  margin-bottom: 0px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

/* Header/Navbar */
div h1 {
  background: #fa9d9d;
  color: black;
  text-align: center;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px ;
  margin: 0;
  padding: 15px;
  font-size: 20px;
}

div h4 {
  background: #e48383;
  color: black;
  text-align: center;
  margin: 0;
  padding: 15px 15px;
  font-weight: normal;
  font-size: 17px;
  margin-bottom: 4px; 
}


/* Overall form container */
form {
  background: white;
  padding: 16px 30px 30px 30px;  
  max-width: 550px;
  margin: 40px auto;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  font-family: Arial, sans-serif;
}

/* Labels should be block elements (1 below each other) */
label {
  display: block;
  margin-bottom: 3px;   
  font-weight: bold;
  color: #333;
}

/* Inputs (text, email, password, number) */
input[type="text"],
input[type="email"],
input[type="password"],
input[type="number"] {
  width: 100%;
  padding: 12px;
  /* margin: 0; */
  /* margin-bottom: 8px;    */
  border: 1px solid #ccc;
  border-radius: 6px;
  color: grey;
  font-size: 14px;
}

/* Radio & checkbox alignment */
input[type="radio"],
input[type="checkbox"] {
  margin-right: 6px;
  margin-bottom: 10px;
}

/* Error messages */
p {
  margin: 4px 4px 10px 4px;
  font-size: 13px;
}

/* Submit button */
button {
  width: 100%;
  padding: 12px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 16px;
}

button:hover {
  background: #0056b3;
}
